{% extends 'base.html '%}

{% block title %}
<title>Портфолио</title>
{% endblock %}

{% block content %}
<ul>
{% for image in images %}
<li><img src="{{ url_for('static', filename=image['url']) }}" alt=""></li>
{% endfor %}
</ul>
<form action="{{ url_for('portfolio') }}" method="post" class="form-contact" id="imageForm" enctype="multipart/form-data">
  <input type="file" id="imageInput" name="image" accept="image/*">
  <img id="imagePreview" src="#" alt="Предпросмотр изображения" style="display: none;">
  <button type="submit">Загрузить</button>
</form>
{% endblock %}